go get github.com/cosmtrek/air@latest                https://github.com/cosmtrek/air
go get -u github.com/swaggo/swag/cmd/swag            https://pkg.go.dev/github.com/arsmn/fiber-swagger/v2#section-readme
go get -u github.com/arsmn/fiber-swagger/v2          https://docs.gofiber.io/